@import "variables.css";
@import "modular.css";
@import "helpers.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  list-style: none;
  font-family: var(--font-family);
}

/************ HEADER ************/
header {
  background: var(--light-grey);
}
.hero-text {
  padding: 2.5% 55% 2.5% 0;
  margin: 10% 0;
  background: url("../images/hero.png") no-repeat right top;
  background-size: contain;
}
.hero-text span {
  margin-left: 20px;
}

/************ MAIN ************/
main {
  background: #fff;
  color: var(--font-color);
  text-align: center;
}
p {
  color: #7785a6;
}
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2% 4%;
}

/* Services */
.services ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  margin: 3% 0;
}

/* Phone Hero */
.phone-hero {
  background-color: var(--CTA-color);
  color: #fff;
  padding: 3%;
  margin: 3% 0;
}
.phone-hero span {
  font-size: 3rem;
  margin-top: 1%;
  display: inline-block;
}
.phone-hero p {
  color: #dcf5ff;
}

/* Testimonials */
.testimonials ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px 80px;
  margin: 10% 0;
  text-align: left;
}
.testimonials ul img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.testimonials ul span {
  font-size: 2rem;
}

/* Contact Info */
.contact {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
}

/* Book Online Form */
input:focus {
  outline: none;
}

.book-online-form {
  margin: 5% 0 50%;
  background: var(--light-grey);
  padding: 5%;
  border-radius: 5px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.book-online-form .form-group {
  padding: 10px;
}
.book-online-form input {
  border: 1px solid #d3e0ec;
  padding: 10px 20px;
  background: #fff;
  color: #7785a6;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: 300;
  width: 100%;
  margin-top: 5px;
}
.book-online-form label {
  text-transform: uppercase;
  font-weight: 400;
}
.radio-group {
  grid-column: 1 /-1;
  margin: 10px 0;
}
.book-online-form input[type="radio"] {
  width: auto;
  margin-right: 40px;
  margin-left: 5px;
}
.book-online-form button {
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
}
.danger {
  border-color: tomato !important;
}

/************ FOOTER ************/
footer {
  background: var(--grey);
}
